<h1>New Bookmark ➡️"<%= @list.name %>"</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, prompt: "Choose a movie" %>
  <%= f.input :comment %>
  <%= f.button :submit, "Add Movie" %>
<% end %>

<%= link_to "Back to all lists", list_path(@list), class: "btn btn-secondary mt-2" %>
